body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}


/* header */
.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.text-logo {
    color: #2e2f42;
}

.chapter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.chapter :hover {
    color: #404BBF;
}

.chapter :focus {
    color: #404BBF;
}

.adds {
    font-style: normal;

}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contacts :hover {
    color: #404BBF;

}

.contacts :focus {
    color: #404BBF;
}



/* section1 */
.hero-section {
    background-color: #2e2f42;
}

  
.tagline {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #FFFFFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-section .hero-button:hover {
    background-color: #404BBF;
}

.hero-section .hero-button:focus {
    background-color: #404BBF;
}

/* section2 */
.plan-section {
    


}

.visually-hidden {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* section3 */
.team-section {
    background-color: #f4f4fd;
}

.leader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.leader-background {
    background-color: #FFFFFF;
}

.staff {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}

.occupation {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* section4 */
.project {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.proposition {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}






/* address-contacts */

.footer {
    background-color: #2e2f42;
}

.link-contacts {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-footer {
    color: #f4f4fd;

}

.item-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}